.search {
  width: 200px;
  padding: 15px;
  display: flex;
  align-items: center;
  justify-content: center;

  border: 1px solid var(--border-color);
  border-radius: var(--border-radius);

  &__icon {
    width: 15px;
    height: 15px;
    margin-right: 5px;

    order: 1;

    transition: transform 0.5s, width 0.5s, height 0.5s;

    fill: var(--color-white);
  }

  &__input {
    width: 100%;

    color: var(--color-white);
    font-size: 16px;

    order: 2;

    &::placeholder {
      color: var(--color-gray);
    }

    &:focus ~ .search__icon {
      transform: scale(0);
      width: 0;
      height: 0;
    }
  }
}
