:root {
  --color-white: #fff;
  --color-black: #1f1d2b;
  --color-bg: #252836;
  --color-gray: #abbbc2;
  --color-orange-default: #eb966a;
  --color-orange-active: #ea7c69;

  --box-shadow-active: 0 5px 15px rgba(234, 124, 105, 0.5);
  --box-shadow-item: 0 5px 20px rgba(31, 29, 43, 0.7);

  --border-color: #393c49;
  --border-radius: 5.5px;
  --border-radius-large: 12px;

  --font-size-sm: 14px;
  --font-size-md: 16px;
}

body {
  margin: 0;
  padding: 0;
  background-color: var(--color-bg);
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

img {
  display: block;
}

button {
  padding: 0;

  border: none;
  outline: none;
  background-color: transparent;
}

ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

h1 {
  color: var(--color-white);
}

input {
  border: none;
  background: transparent;
  outline: none;
  padding: 0;
  margin: 0;
}
